.auth-left-banner {
    background-image: linear-gradient(rgba(171, 35, 58, 0.5), rgba(26, 24, 24, 0.7)), url(asset-path('cover-page.jpg'));
    background-size: cover;
    background-position: center;
    height: auto;
}
.auth-right-banner {
  width: 100%;

  @media (min-width: 576px) {
    width: 50%;
  }
}