<div class="login-container">
  <div class="left-panel"></div>
  <div class="right-panel">
    <div class="login-box">
      <h1 class="fw-bold">SG Travel Buddy</h1>
      <p>Curated itineraries for everyone</p>

      <%= yield %>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
