<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "merlion-ruby.jpg", class: "logo me-3" %>
    <% end %>
  </div>
</nav>
<hr style="height: 1px; background-color: #ADB5BD; border: none; margin: 0; width: 100vw; position: relative; left: 50%; transform: translateX(-50%);">
