<div class="navbar-container">
  <!-- Filters -->
  <div class="filter-row">
    <div class="col-md-3 col-sm-6 col-12 mb-2">
      <div class="filter-label">Interest</div>
      <select class="form-select">
        <option selected>Kids-focused</option>
        <option>Culture</option>
        <option>Food</option>
        <option>Nature</option>
        <option>Shopping</option>
      </select>
    </div>
    
    <div class="col-md-3 col-sm-6 col-12 mb-2">
      <div class="filter-label">Duration</div>
      <select class="form-select">
        <option selected>3 Days</option>
        <option>1 Day</option>
        <option>2 Days</option>
        <option>4 Days</option>
        <option>5 Days</option>
      </select>
    </div>
    
    <div class="col-md-3 col-sm-6 col-12 mb-2">
      <div class="filter-label">Pace</div>
      <select class="form-select">
        <option selected>Fast paced</option>
        <option>Relaxed</option>
        <option>Moderate</option>
      </select>
    </div>
    
    <div class="col-md-2 col-sm-6 col-12 mb-2">
      <div class="filter-label">&nbsp;</div> <!-- Empty label to align with other dropdowns -->
      <button class="btn btn-regenerate w-100">Regenerate</button>
    </div>
  </div>
</div> 