<div class="container py-4">
    <div class="row mb-3 align-items-center">
        <div class="col-md-8 col-sm-6">
            <h4><strong>Adventure Kids-focused 3-days itinerary</strong></h4>
        </div>
        <div class="col-md-4 col-sm-6 text-md-end">
            <button class="btn btn-dark">See My Journey</button>
        </div>
    </div>

    <div class="row">
        <!-- Left column - Itinerary content -->
        <div class="col-md-8">
            <div class="mb-3">
                <p>Here is your 3 days Adventure Kids-focused itinerary</p>
                <p><span>2025-03-25</span> - <span>2025-03-28</span></p>
            </div>

            <!-- Day 1 card -->
            <div class="mb-3">
                <h5 class="day-title fw-bold">Day 1</h5>
            </div>
            <div class="itinerary-card" data-controller="redirect">
                <%= image_tag "garden-by-the-bay.png", class: "img-fluid", style: "border-radius: 15px; width: 25%; height: auto;" %>
                   <div>
                        <h5>Gardens by the Bay</h5>
                        <p class="card-text">18 Marina Gardens Dr</p>
                           <div class="d-flex flex-column" style="max-width: 60%; overflow: hidden;">
                          <p class="description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                          is a futuristic nature park located in the heart of Singapore...
                        </p>
                        </div>
                        <p style="font-size: 18px; margin-bottom: 10px;">
                        10:00 AM
                        </p>
                        <button class="btn btn-dark btn-sm">Details</button>
                    </div>
                    <span class="ms-auto" style="font-size: smaller; white-space: nowrap;">
                   1 hour
                </span>

            </div>


            <!-- Travel info -->
            <div class="d-flex justify-content-center my-2">
                <div class="text-center">
                    <div class="travel-line"></div>
                    <div class="travel-text">
                        15 mins on foot <i class="fa-solid fa-shoe-prints"></i>
                    </div>
                </div>
            </div>

            <!-- Day 2 card -->
            <div class="mb-3">
                <h5 class="day-title fw-bold">Day 2</h5>
            </div>
            <div class="itinerary-card" data-controller="redirect">
                <%= image_tag "esplanade.png", class: "img-fluid", style: "border-radius: 15px; width: 25%; height: auto;" %>
                   <div>
                        <h5>Esplanade</h5>
                        <p class="card-text">1 Esplanade Dr, Singapore 038981</p>
                           <div class="d-flex flex-column" style="max-width: 60%; overflow: hidden;">
                          <p class="description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                          is a world-renowned performing arts center...
                        </p>
                        </div>
                        <p style="font-size: 18px; margin-bottom: 10px;">
                        10:00 AM
                        </p>
                        <button class="btn btn-dark btn-sm">Details</button>
                    </div>
                    <span class="ms-auto" style="font-size: smaller; white-space: nowrap;">
                   1 hour
                </span>

            </div>


            <!-- Travel info -->
            <div class="d-flex justify-content-center my-2">
                <div class="text-center">
                    <div class="travel-line"></div>
                    <div class="travel-text">
                        5 mins by car <i class="fa-solid fa-taxi"></i>
                    </div>
                </div>
            </div>

            <!-- Day 3 card -->
            <div class="mb-3">
                <h5 class="day-title fw-bold">Day 3</h5>
            </div>
            <div class="itinerary-card" data-controller="redirect">
                <%= image_tag "merlion-park.png", class: "img-fluid", style: "border-radius: 15px; width: 25%; height: auto;" %>
                   <div>
                        <h5>Merlion Park</h5>
                        <p class="card-text">1 Fullerton Rd, Singapore 049213</p>
                           <div class="d-flex flex-column" style="max-width: 60%; overflow: hidden;">
                          <p class="description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                          The Merlion is a statue with the head of a lion...
                        </p>
                        </div>
                        <p style="font-size: 18px; margin-bottom: 10px;">
                        10:00 AM
                        </p>
                        <button class="btn btn-dark btn-sm">Details</button>
                    </div>
                    <span class="ms-auto" style="font-size: smaller; white-space: nowrap;">
                   1 hour
                </span>

            </div>

            <!-- Travel info -->
            <div class="d-flex justify-content-center my-2">
                <div class="text-center">
                    <div class="travel-line"></div>
                    <div class="travel-text">
                        5 mins by car <i class="fa-solid fa-taxi"></i>
                    </div>
                </div>
            </div>



            <!-- Day 4 card -->
            <div class="mb-3">
                <h5 class="day-title fw-bold">Day 4</h5>
            </div>
            <div class="itinerary-card" data-controller="redirect">
                <%= image_tag "singapore-zoo.png", class: "img-fluid", style: "border-radius: 15px; width: 25%; height: auto;" %>
                   <div>
                        <h5>Singapore Zoo</h5>
                        <p class="card-text">80 Mandai Lake Rd</p>
                           <div class="d-flex flex-column" style="max-width: 60%; overflow: hidden;">
                          <p class="description" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                          part of the Mandai Wildlife Reserve, which also includes Night Safari... 
                        </p>
                        </div>
                        <p style="font-size: 18px; margin-bottom: 10px;">
                        10:00 AM
                        </p>
                        <button class="btn btn-dark btn-sm">Details</button>
                    </div>
                    <span class="ms-auto" style="font-size: smaller; white-space: nowrap;">
                   1 hour
                </span>

            </div>

            <!-- Travel info -->
            <div class="d-flex justify-content-center my-2">
                <div class="text-center">
                    <div class="travel-line"></div>
                    <div class="travel-text">
                        5 mins by car <i class="fa-solid fa-taxi"></i>
                    </div>
                </div>
            </div>
            
            
        </div>

            
      
        <!-- Right column - Sidebar -->
        <% if !user_signed_in? %>
        <div class="col-md-4 d-flex justify-content-end position-relative">
            <div class="side-box position-absolute top-0 end-0">
                <h4 class="fw-bold">Plan a trip that’s so local</h4>
                <p><em>Discover hidden gems in Singapore</em></p>
            </div>
        </div>
        <% end %>
    </div>
</div>
