
<div class="position-sticky top-0">
  <%# <%= @selected_attraction.to_json %>
  <%# above coded by Amanda %>
  <h1><%= @selected_attraction.name %></h1>
  <%= @selected_attraction.description %>
</div>
